@use '../core/variables' as vars;

html {
    font-family: vars.$font-family;
}

h1 {
    font-size: 20px;
    font-weight: semi-bold;
    color: vars.$color-tertiary;
}

h2 {
    font-size: 20px;
    font-weight: semi-bold;
    color: vars.$color-tertiary;
}

h3 {
    font-size: 18px;
    font-weight: semi-bold;
    color: vars.$color-tertiary;
}

p {
    font-size: 16px;
    font-weight: regular;
    color: vars.$color-tertiary;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}

@media all and (min-width: 1024px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}
