@use "../core/variables" as vars;

.footer {
  background-color: vars.$color-tertiary;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.footer p {
  color: vars.$color-quaternary;
}

.footer a {
  color: vars.$color-quaternary;
  text-decoration: none;
  font-size: 0.7rem;
}

.footer__list-links {
  list-style: none;
}

.footer__article {
  width: 100px;
}

.footer__article > * {
  margin-bottom: 0.3rem;
}

.footer__arrow {
  display: flex;
  flex-direction: column;
  padding-left: 18rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}
