@use "../core/variables" as vars;

.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
}

.header__nav-1 {
  width: 1.5rem;
  height: 1.5rem;
}

.header__nav-image {
  width: 100%;
  margin: 1rem;
  color: vars.$color-tertiary;
}

.header__nav-2 {
  display: none;
}

.header__button-1 {
  background-color: vars.$color-tertiary;
  color: vars.$color-primary;
  font-family: vars.$font-family;
  border: none;
  box-shadow: none;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.header__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 4rem;
}
