@use '../core/variables' as vars;

.header {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
}

.header__nav-1 {
  width: 20px;
  height: 20px;
}

.header__nav-image {
  width: 100%;
  margin: 10px;
  color: vars.$color-tertiary;}

.header__nav-2 {
  display: none;
}

.header__button-1 {
  background-color: vars.$color-tertiary;
  color: vars.$color-primary;
  font-family: vars.$font-family;
  font-size: 12px;
  padding: 10px 15px;
}

.header__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  gap: 75px;
}
