@use '../core/variables' as vars;

.main__section-1 {
    background-color: vars.$color-primary;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    justify-items: center;
    text-align: center;
    padding: 30px;
    gap: 75px;
}

.main__section-2 {
    background-color: vars.$color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.main__article-2 h3 {
    color: vars.$color-quinary;
}

.main__article-2 p {
    color: vars.$color-quinary;
}

.main__section-3 {
    background-color: vars.$color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-top: 30px;
}

.main__image {
    width: 100%;
}