<footer class="footer">
    <section>
        <p>Tienda</p>
        <ul class="footer__list-links">
            <li><a href="https://adalab.es/" target="_blank">Productos</a></li>
            <li><a href="https://adalab.es/" target="_blank">Cajoneras</a></li>
            <li><a href="https://adalab.es/" target="_blank">Para toda la casa</a></li>
            <li><a href="https://adalab.es/" target="_blank">Habitaciones</a></li>
        </ul> 
    </section>
    <section>
        <p>Nosotros</p>
        <ul class="footer__list-links">
            <li><a href="https://adalab.es/" target="_blank">Nuestra guía</a></li>
            <li><a href="https://adalab.es/" target="_blank">Nuestro diseño</a></li>
            <li><a href="https://adalab.es/" target="_blank">Nuestra historia</a></li>
            <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
        </ul> 
    </section>
    <section>
        <p>Contacto</p>
        <ul class="footer__list-links">
            <li><a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a></li>
            <li><a href="https://adalab.es/" target="_blank">Socios</a></li>
        </ul> 
    </section>
    <section>
        <ul>
            <li>
                <a href="https://adalab.es/" target="_blank"> <img src="../images/linkedin.svg" alt="Icono de LinkedIn" class="footer__redes-sociales">
                </a>
            </li>
            <li>
                <a href="https://adalab.es/" target="_blank"> <img src="../images/instagram.svg" alt="Icono de Instagram" class="footer__redes-sociales">
                </a>
            </li>
            <li>
                <a href="https://adalab.es/" target="_blank"> <img src="../images/twitter.svg" alt="Icono de Twitter" class="footer__redes-sociales">
                </a>
            </li>
        </ul>
    </section>
    <section>
        <a href="#"></a><img src="../images/arrow.svg" alt="Icono de flecha" class="footer__redes-sociales"></a>
    </section>
</footer>
