<main class="main">
  <section class="main__section-1">
    <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
    <article>
      <img
        src="../images/icon-1.png"
        alt="Icono de una mesa"
        class="main__icon"
      />
      <h3>Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </article>
    <article>
      <img
        src="../images/icon-2.png"
        alt="Icono de una bolsa biodegradable"
        class="main__icon"
      />
      <h3>Materias primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </article>
    <article>
      <img
        src="../images/icon-3.png"
        alt="Icono de un parque"
        class="main__icon"
      />
      <h3>Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </section>
  <section class="main__section-2">
    <article class="main__article-2">
      <img
        src="../images/icon-4.png"
        alt="Icono de una furgoneta"
        class="main__icon"
      />
      <h3>Envío gratis garantizado</h3>
      <p>Envío gratis en compras desde 100</p>
      <a href="#" class="main__article-link">Comprar ahora</a>
    </article>
  </section>
  <section class="main__section-3">
    <h3>Disfruta creando espacios</h3>
    <p>Una línea de productos diseñados para todos tus espacios</p>
    <button class="main__button-1">Comprar Ahora</button>
  </section>
  <div>
    <img
      src="../images/creando-espacios.jpg"
      alt="Imagen de cajas organizadas"
      class="main__image"
    />
  </div>
</main>
